:root{
    --bg-menu: #EFAB7F;
    --bg-footer: #A275DB;
    --bg-primary-section: #F6F3E4;
    --bg-secondary-section: #DBD5E4;
    --bg-tertiary-section: #000000;
    --bg-primary-text: #8000FF;
    --bg-secondary-text: #FF0054;
    --bg-tertiary-text: #FF82A0;
    --bg-name: #B5FF00;
    --bg-detail: #839ACD;
}
html{
    scroll-behavior: smooth;
    overflow: auto;

}
.sobre{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    background-color: var(--bg-primary-section);
    
}
.descricao{
    width: 49%;
    height: 500px;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
}
.divImgPrincipal{
    width: 49%;
    /* border: 1px solid black; */
    margin: 5px;
}
.imgPrincipal{
    width: 100%;
}
.tituloPrincipal{
    font-size: 6rem;
    width: 100%;
    font-family: 'Los Angeleno Grotesque', sans-serif;
}
.detalheTituloPrincipal{
    background-color: var(--bg-detail);
    padding: 2px 2px;
    border: 4px solid black;
    box-shadow: black 8px 5px;
    font-size: 6.5rem;
}
.msgBemvindo{
    font-size: 1.8rem;
    text-align: justify;
}
.botoes{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
}
.btnConhecer, .btnEquipe{
    width: max-content;
    background-color: var(--bg-detail);
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    display: flex;
    /* text-align: center; */
    padding: 8px;
    border: 3px solid black;
    font-family: 'Los Angeleno Grotesque', sans-serif;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    cursor: pointer;
    /* height: 40px; */
}
.btnEquipe{
    /* width: 150px; */
    background-color: var(--bg-primary-section);
}
.btnConhecer:hover{
    background-color: #6182c9;
}
.btnEquipe:hover{
    background-color: var(--bg-secondary-text);
    color: white;

}
.quemSomos{
    background-color: var(--bg-secondary-section);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 3px solid black;
    
}
.divTituloSecundario{
    width: 30%;
    /* border: 1px solid black */
}
.tituloSecundario{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Los Angeleno Grotesque', sans-serif;
    color: white;
    background-color: var(--bg-primary-text);
    border: 3px solid black;
    box-shadow: black 8px 5px;
    text-align: center;
}
.divImagemSecundaria{
    width: 30%;
}
.imgSecundaria{
    width: 100%;
}
.potimaker{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
    padding: 50px;
    background-color: var(--bg-primary-section);
    position: relative;
    
}
.divResumo{
    width: 49%;
    height: 100%;
    background-color:white;
    font-size: 1.8rem;
    text-align: justify;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 3px solid black;
    box-shadow: black 8px 5px;

}
.divImgPotimaker{
    width: 35%;
    display: flex;
    border: 3px solid black;
    box-shadow: black 8px 5px;
    position: relative;
}
.imgPotimaker{
    width: 100%;
}
.btnFotos{
    width: 60px;
    height: 60px;
    background-color: var(--bg-tertiary-text);
    border-radius: 50%;
    border: 3px solid black;
    font-size: 4rem;
    padding: 5px;
    position: absolute;
    right: -35px;
    top: 45%;
    cursor: pointer;
    display: none;
}
.detalheDireita, .detalheEsquerda{
    position: absolute;
    width: 70px;
}
.detalheDireita{
    top: 5px;
    right: 5px;
}
.detalheEsquerda{
    bottom: 5px;
    left: 5px;
}
.equipe{
   display: flex;
   border-bottom: 3px solid black;
   height: max-content;
   /* flex-wrap: wrap; */
   /* background-color: #8000FF; */
   /* display: none; */

}
.sobreEquipe{
    width: 25%;
    background-color: #DBD5E4;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px 15px;
    gap: 100px;
}
.tituloEquipe{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Los Angeleno Grotesque', sans-serif;
    color: white;
    padding: 0px 25px;
    background-color: var(--bg-secondary-text);
    border: 3px solid black;
    box-shadow: black 8px 5px;
    text-align: center;
}
.textoEquipe{
    /* height: 270px; */
    background-color:white;
    font-size: 2rem;
    text-align: justify;
    display: flex;
    align-items: center;
    border: 3px solid black;
    box-shadow: black 8px 5px;
    padding: 20px;
}
.divCardsEquipe{
    width: 75%;
    display: flex;
    /* background-color: #8000FF; */
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
    /* background-color: #6182c9; */
}
.cardsEquipe {
    width: 100%;
    /* background-color: #B5FF00; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #B5FF00; */
}
.cardEquipe{
    width: 26%;
    /* background-color: #839ACD; */
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    box-shadow: #878f9733 0px 8px 24px;
    border-radius: 3px;
    padding: 5px;

}
.divFotoEquipe{
    width: 29%;
}
.imgEquipe{
    width: 100%;
    border-radius: 50%;
}
.infoEquipes{
    width: 60%;
    display: flex;
    flex-direction: column;
    
    gap: 5px;
}
.infoEquipes a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-family: 'Los Angeleno Grotesque', sans-serif;
    margin-left: 5px;
    font-weight: bold;
    color: rgb(0, 50, 92);

}
.nomeMembro {
    font-size: 1.6rem;
    font-family: 'Los Angeleno Grotesque', sans-serif;
    background-color: #c6fd3c;
    padding: 0 5px;
    width: fit-content;
    text-align: center;
    
}
.funcMembro{
    font-family: 'Los Angeleno Grotesque', sans-serif;
    font-size: 1.4rem;
    padding: 0 5px;
}
@media screen and (max-width: 1100px) {
    .sobre {
        flex-direction: column;
    }
    .descricao{
        width: 100%;
    }
    .divImgPrincipal{
        display: none;
    }
    .equipe{
        flex-direction: column;
    }
    .sobreEquipe{
        width: 100%;
        border-right: none;
        border-bottom: 3px solid black;
        gap: 20px;
        padding: 20px;
    }
    .textoEquipe{
        width: 80%;
    }
    .tituloEquipe{
        width: 80%;
    }
    .divCardsEquipe{
        width: 100%;
        padding: 3px;
    }
}
@media screen and (max-width:840px) {
    .potimaker{
        flex-direction: column;
        gap: 50px;
    }
    .divResumo{
        width: 100%;
    }
    .divImgPotimaker{
        width: 100%;
    }
    .cardEquipe{
        width: 40%;
        margin: 5px;
    }
}
@media screen and (max-width:545px) {
    .sobre{
        justify-content: center;
    }
    .tituloPrincipal{
        font-size: 4rem;
    }
    .detalheTituloPrincipal{
        font-size: 4.5rem;
    }
    .btnConhecer, .btnEquipe {
        font-size: 1.4rem;
    }
    .quemSomos{
        flex-direction: column;
    }
    .divImagemSecundaria{
        display: none;
    }
    .divTituloSecundario{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .tituloSecundario{
        font-size: 4rem;
    }
    .nomeMembro{
        font-size: 1.2rem;
    }
    .funcMembro{
        font-size: 1rem;
    }
    .infoEquipes a {
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    .tituloPrincipal{
        font-size: 3rem;
    }
    .detalheTituloPrincipal{
        font-size: 3.5rem;
    }
    /* .btnConhecer, .btnEquipe {
        font-size: 1.3rem;
    } */
    .botoes{
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
    /* .btnEquipe{
        width: 200px;
    } */
}