:root {
    --bg-menu: #EFAB7F;
    --bg-footer: #A275DB;
    --bg-primary-section: #F6F3E4;
    --bg-secondary-section: #DBD5E4;
    --bg-tertiary-section: #000000;
    --bg-primary-text: #8000FF;
    --bg-secondary-text: #FF0054;
    --bg-tertiary-text: #FF82A0;
    --bg-name: #B5FF00;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    height: 100vh;
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 200px;
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    grid-area: header;
    background-color: var(--bg-menu);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 16px;
    border-bottom: 3px solid #000000;
    font-family: 'Los Angeleno Grotesque', sans-serif;
    font-size: 2rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
  }
  
  .imgLogo {
    width: 95%;
  }
  
  .menu-section {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-end;
  }
  
  .menu {
    width: 79%;
    padding: 10px;
  }
  
  .menuList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .menuItem {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 20%;
    margin: 4px;
  }
  
  .menuLink {
    text-decoration: none;
    color: #000000;
    padding: 8px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .menuLink:hover {
    color: white;
  }
  
  .social {
    width: 19%;
    display: flex;
    padding: 4px;
  }
  
  .socialList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .socialItem {
    list-style: none;
  }
  
  .socialLink {
    color: #000000;
    transition: ease 0.2s;
  }
  
  .socialLink:hover {
    color: white;
  }
  
  main {
    grid-area: main;
    background-color: var(--bg-primary-section);
  }
  
  .fimComeco {
    background-color: #000000;
    padding: 5px;
    position: relative;
    border-bottom: 3px solid black;
  }
  
  .peixe {
    position: absolute;
    width: 200px;
    top: 0;
    right: 50px;
  }
  
  .divFimCom {
    width: 80%;
    padding: 10px;
  }
  
  .fim,
  .comeco {
    width: max-content;
    padding: 5px;
    background-color: white;
    font-size: 5rem;
    text-align: justify;
    display: flex;
    align-items: center;
    border: 3px solid black;
    box-shadow: #FF82A066 5px 5px, #FF82A04d 10px 10px, #FF82A033 15px 15px;
    text-transform: uppercase;
  }
  
  .comeco {
    margin: 20px 0px 0px 70px;
  }
  
  .continue {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .textoContinue {
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .btnContinue {
    width: 60px;
    height: 60px;
    background-color: #FF82A0;
    border-radius: 50%;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    border: none;
  }
  
  .btnContinue:hover {
    background-color: #ff577e;
    cursor: pointer;
  }
  
  footer {
    grid-area: footer;
    background-color: var(--bg-footer);
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 20px;
    font-size: 1.6rem;
    font-family: 'Los Angeleno Grotesque', sans-serif;
  }
  
  .infoRodape {
    width: 49%;
    border-right: 1px solid black;
  }
  
  .parceiros {
    width: 49%;
  }
  
  .tituloRodape {
    text-align: center;
    margin: 10px 5px;
    font-size: 2.3rem;
  }
  
  .infoList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .infoItem {
    margin: 8px 5px;
    list-style: none;
    padding: 5px;
  }
  
  .infoLink {
    text-decoration: none;
    color: #000000;
  }
  
  .infoLink i {
    margin: 3px;
  }
  
  .infoLink:hover {
    border-bottom: 1px solid black;
  }
  
  .parceirosList {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
  }
  
  .parceirosItem {
    width: 20%;
    list-style: none;
    margin: 8px 5px;
  }
  
  .parceiroslink {
    width: 80%;
  }
  
  .parceirosLogo {
    width: 100%;
  }
  
  @media (max-width: 920px) {
    header {
      font-size: 1.6rem;
    }
    .infoRodape h3 {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 813px) {
    header {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 777px) {
    header {
      font-size: 1.2rem;
    }
    .peixe {
      display: none;
    }
    .continue {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 571px) {
    header {
      justify-content: space-between;
    }
    footer {
      flex-direction: column;
    }
    .infoRodape,
    .parceiros {
      width: 100%;
    }
    .infoRodape {
      border-right: none;
      border-bottom: 1px solid black;
    }
    .menu {
      display: none;
    }
    .social {
      display: none;
    }
    .menu-toggle {
      width: 40px;
      height: 30px;
      margin-right: 20px;
    }
    .one,
    .two,
    .three {
      background-color: #000000;
      height: 5px;
      width: 100%;
      margin: 6px auto;
      transition-duration: 0.3s;
    }
    .menu-section.on {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--bg-menu);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .menu-section.on nav {
      display: flex;
      width: 100%;
    }
    .menu-section.on .menu-toggle {
      position: absolute;
      right: 0;
      top: 15px;
    }
    .menu-section.on .menu-toggle .one {
      transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-section.on .menu-toggle .two {
      opacity: 0;
    }
    .menu-section.on .menu-toggle .three {
      transform: rotate(-45deg) translate(8px, -9px);
    }
    .menu-section.on .menu .menuList {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .menu-section.on .menu .menuList .menuItem {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
    .menu-section.on .menu .menuList .menuLink {
      transition-duration: 0.5s;
      font-size: 4rem;
      line-height: 4rem;
      display: flex;
      text-align: center;
    }
    .menu-section.on .social {
      height: 15px;
      padding: 10px;
      margin-top: 100px;
    }
    .menu-section.on .social .socialList {
      text-align: center;
      justify-content: space-evenly;
      gap: 20px;
    }
    .socialLink {
      font-size: 4rem;
    }
    .menuLink {
      font-size: 3rem;
    }
    .divFimCom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .fim,
    .comeco {
      font-size: 3rem;
      margin: 0;
      text-align: center;
    }
    .textoContinue {
      font-size: 1.6rem;
      text-align: center;
    }
    .btnContinue {
      width: 40px;
      height: 40px;
      font-size: 2rem;
    }
  }
  